
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//css for whole app
//mobile first approach 

//global colors
:root {
    --color: #3D3D3D;
    --background-color: #f3f3f3;
}

@media (min-width: 375px) {
    
    .header {
        width: 100%;
        padding: 5px 4%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
        background-color: var(--background-color);
        // background-color: #fafafa;
        font-size: 1em;
        a {
            text-decoration: none;
            color: #3D3D3D;
        }
        .home-button {
            padding: 37px;
            background: url('../../public/images/nikita-logo1.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .desktop-nav {
            display: none;
        }
        .bar{
            width: 30px;
            height: 2px;
            margin: 5px 0;
            // background-color: #B76E79;
            background-color: #E26678;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
            }
        }
        #barone {
            display: none;
            opacity: 0;
            transition: .2s;
            overflow: hidden;
        }
        #bartwo {
            transform: rotate(-40deg) translate(-5px, 5px);
            transition: .2s;
        }
        #barthree {
            transform: rotate(40deg);
            transition: .2s
        }
        .hamburger-menu {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sticky {
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .mobile-nav, .hidden {
        height: 100vh;
        z-index: 1;
        position: fixed;
        overflow: hidden;
        transition: width .2s ease-in-out;
        background-color: #EDEDED;
        background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
        display: flex;
        flex-direction: column;
        align-items: center;

        .book-now {
            // background-color: #B76E79;
            background-color: #E26678;
            // border: 2px solid #B76E79;
            // color: #B76E79;
            color: #EDEDED;
            border-radius: 5px;
            padding: 8px 12px;

            @keyframes pulse {
                0% { box-shadow: 0 0 0 0 #B76E79; };
            }

            &:hover {
                animation: pulse 1s;
                box-shadow: 0 0 0 2em transparent;
            }
            // &:hover {
            //     transition: 1s ease-in-out;
            //     box-shadow: inset 0 0 0 2em #B76E79;
            //     color: #EDEDED
            // }
        }
    
        a {
            width: 50%;
            color: #3D3D3D;
            display: inline-block;
            padding: 5px 0;
            margin: 5px 0;
            text-align: center;
            text-decoration: none;
            font-size: 1.5em;
            font-weight: 500;
            &:hover {
            }
        }

    }
    .mobile-nav {
        width: 100%;
    }

    .hidden {
        width: 0%;
    }  
    
    .closing-banner {
        background-color: #E26678;
        background: -webkit-linear-gradient( #E26678, #e05c9a,);
        width: 100%;
        text-align: center;
        // background-color: #B76E79;
        // background-color: linear-gradient( #E26678 );
        .book-now {
            margin: 0 auto;
            display: inline-block;
            text-decoration: none;
            padding: 14px 120px;
            // background-color: #B76E79;
            border: 2px solid #E26678;
            background-color: #fafafa;
            // border: 2px solid #B76E79;
            color: #E26678;
            border-radius: 5px;

            @keyframes pulse {
                0% { box-shadow: 0 0 0 0 #E26678; };
            }

            &:hover {
                animation: pulse 1s;
                box-shadow: 0 0 0 2em transparent;
            }
            // &:hover {
            //     transition: 1s ease-in-out;
            //     box-shadow: inset 0 0 0 2em #B76E79;
            //     color: #EDEDED
            // }

        }
    }
}

@media (min-width: 1024px) {
    .header {
        .home-button {
            padding: 45px;
        }
        .desktop-nav {
            display: block;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: .9em;
        
            .session-button {
              padding: 5px 8px;
              border: 2.5px solid transparent;
              border-radius: 3px;
              cursor: pointer;
            }
            #sign-up {
              border: 2.5px solid transparent; 
              &:hover {
                transition: .5s;
                border-bottom: 2.5px solid  rgba(226, 69, 41, 0.884);
              }
            }
        
            #login {
              margin-left: 6px;
              &:hover {
                border-bottom: 2.5px solid  rgba(68, 70, 230, 0.884); 
              }
            }
            .book-now {
                background-color: rgb(0, 162, 255);
                padding: 10px 25px;
                color: #e7e7e7;
            }
        }
        .hamburger-menu {
            display: none;
        } 

    }
    .mobile-nav {
        display: none;
    }
   

}