
@import url('https://fonts.googleapis.com/css2?family=AWork+Sans:wght@100&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  margin: 0;
  color: #3D3D3D;
  background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
  background-color: #EDEDED;
  font-family: 'Work Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
