.footer {
    padding: 20px 2%;
    .home-button {
        font-weight: bolder;
        font-size: 1.3em;
        font-family: 'Pacifico', cursive;
        padding: 15px 0;

      //   font-family: 'Alfa Slab One', cursive;
        &:hover {
         color:  rgba(68, 70, 230, 0.884); 
          cursor: pointer;
        }
    }
    .location {
        display: inline-block;
        margin: 20px 0;
    }
    #by {
        font-size: .85em;
    }
    a {
        font-size: .85em;
        color:rgba(228, 19, 106, 0.747);;
    }
}
