@media (min-width: 375px) {
    
    .header {
        width: 100%;
        padding: 5px 4%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
        background-color: var(--background-color);
        // background-color: #fafafa;
        font-size: 1em;
        a {
            text-decoration: none;
            color: #3D3D3D;
        }
        .home-button {
            padding: 37px;
            background: url('../../../public/images/nikita-logo1.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .desktop-nav {
            display: none;
        }
        .bar{
            width: 30px;
            height: 2px;
            margin: 5px 0;
            // background-color: #B76E79;
            background-color: #E26678;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
            }
        }
        #barone {
            display: none;
            opacity: 0;
            transition: .2s;
            overflow: hidden;
        }
        #bartwo {
            transform: rotate(-40deg) translate(-5px, 5px);
            transition: .2s;
        }
        #barthree {
            transform: rotate(40deg);
            transition: .2s
        }
        .hamburger-menu {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

