

@media (min-width: 375px) {
    .home {
        position: relative;
        overflow: hidden;
        .background-pic {
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            // background-color: aqua;
            background: url(../../public/images/kita-web.jpg);
            background-repeat: no-repeat;
            position: center;
            background-position: center center;
            background-size: cover;

        }
        .overlay {
            position: relative;
            height: 85vh;
            width: 100vw;
            overflow: hidden;
            display: flex;
            .book-now {
                align-self: center;
                margin: 0 auto;
                text-decoration: none;
                padding: 14px 120px;
                // background-color: #B76E79;
                border: 2px solid #B76E79;
                color: #B76E79;
                border-radius: 5px;

                @keyframes pulse {
                    0% { box-shadow: 0 0 0 0 #B76E79; };
                }

                &:hover {
                    animation: pulse 1s;
                    box-shadow: 0 0 0 2em transparent;
                }
                // &:hover {
                //     transition: 1s ease-in-out;
                //     box-shadow: inset 0 0 0 2em #B76E79;
                //     color: #EDEDED
                // }



            }
        }
    }
    .banner {
        font-size: 1.5em;
        padding: 10px 0;
        color: #D4af37;
        background-color: #B76E79;
        text-align: center;
    }
}